Repository qredo/fusionchain, pull requests merged in 2023-12, with the labels that each got.

#144 feat(web): keyring admin pages
  web/package-lock.json
  web/src/client/identity.ts
  web/src/components/add_keyring_party_form.tsx
  web/src/components/new_keyring_button.tsx
  web/src/hooks/keplr.tsx
  web/src/main.tsx
  web/src/routes/keyring.tsx
  web/src/routes/keyrings.tsx
  web/src/routes/menu.tsx
  web/src/routes/root.tsx
Labels: web

#157 fix(web): use <Link> instead of <a>
  web/src/routes/root.tsx
Labels: web

#160 ci: add semantic release and CI workflows
  .github/workflows/build_ecr.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/push.yml
  .github/workflows/semantic_release.yml
  .github/workflows/test.yml
  blockchain/.releaserc.json
  blockchain/package.json
  fusionmodel/.releaserc.json
  fusionmodel/package.json
  mpc-relayer/.releaserc.json
  mpc-relayer/package.json
  package.json
  relayer-eth/.releaserc.json
  relayer-eth/package.json
  web/.releaserc.json
  web/package.json
Labels: blockchain, web, relayer-eth

#167 test(keyring): Add bip44 benchmark tests
  keyring/pkg/services/bip44kms/bip44_benchmark_test.go
Labels: test

#172 fix(keyring): ensure config mnemonic is generated if not supplied
  docker/Dockerfile-mpc-relayer
  docker/docker-build-mpc-relayer.sh
  keyring/pkg/services/mpcrelayer/builder.go
  keyring/pkg/services/mpcrelayer/service_test.go
  keyring/pkg/services/mpcrelayer/signature_request_handler.go
Labels: test

#171 feat(keyring): add keyring releaserc JSON
  blockchain/package.json
  keyring/.releaserc.json
  keyring/package.json
Labels: blockchain

#176 fix(blockchain): keyring.Fees can be nil
  blockchain/x/treasury/keeper/msg_server_new_key_request.go
  blockchain/x/treasury/keeper/msg_server_new_signature_request.go
Labels: blockchain, treasury

#175 chore(go-client): DEV-719 go client cleanup
  go-client/README.md
  go-client/query_client.go
  go-client/query_client_auth.go
  go-client/query_client_treasury.go
  go-client/tx_client.go
  go-client/tx_raw_client.go
  go-client/tx_treasury.go
Labels: go-client

#177 fix(go-client): DefaultFees were very high
  go-client/tx_raw_client.go
Labels: go-client

#179 fix(go-client): increase client default fee to 0.01 QRDO
  go-client/tx_raw_client.go
Labels: go-client

#182 fix(keyring): return mpc ping error
  keyring/pkg/mpc/aggregated.go
  keyring/pkg/mpc/client.go
  keyring/pkg/mpc/client_test.go
  keyring/pkg/mpc/local.go
  keyring/pkg/services/mpcrelayer/key_request_handler.go
  keyring/pkg/services/mpcrelayer/signature_request_handler.go
Labels: test

#183 fix: enforce 32bytes for sig request
  blockchain/x/treasury/keeper/msg_server_new_signature_request.go
Labels: blockchain, treasury

#191 build: use local protoc-gen-es
  .gitignore
  .npmrc
  blockchain/buf.ts.gen.yaml
  package-lock.json
  web/package-lock.json
  web/package.json
  web/src/proto/fusionchain/identity/genesis_pb.ts
  web/src/proto/fusionchain/identity/keyring_pb.ts
  web/src/proto/fusionchain/identity/params_pb.ts
  web/src/proto/fusionchain/identity/query_pb.ts
  web/src/proto/fusionchain/identity/tx_pb.ts
  web/src/proto/fusionchain/identity/workspace_pb.ts
  web/src/proto/fusionchain/policy/action_pb.ts
  web/src/proto/fusionchain/policy/genesis_pb.ts
  web/src/proto/fusionchain/policy/params_pb.ts
  web/src/proto/fusionchain/policy/policy_pb.ts
  web/src/proto/fusionchain/policy/query_pb.ts
  web/src/proto/fusionchain/policy/tx_pb.ts
  web/src/proto/fusionchain/qassets/genesis_pb.ts
  web/src/proto/fusionchain/qassets/params_pb.ts
  web/src/proto/fusionchain/qassets/query_pb.ts
  web/src/proto/fusionchain/qassets/tx_pb.ts
  web/src/proto/fusionchain/treasury/genesis_pb.ts
  web/src/proto/fusionchain/treasury/key_pb.ts
  web/src/proto/fusionchain/treasury/mpcsign_pb.ts
  web/src/proto/fusionchain/treasury/params_pb.ts
  web/src/proto/fusionchain/treasury/query_pb.ts
  web/src/proto/fusionchain/treasury/tx_pb.ts
  web/src/proto/fusionchain/treasury/wallet_pb.ts
Labels: blockchain, web

#184 refactor: Removed sepolia enum and change qrdo enum to fusion
  GUIDE.md
  README.md
  blockchain/docs/api/proto-docs.md
  blockchain/proto/fusionchain/treasury/wallet.proto
  blockchain/x/qassets/client/cli/tx_burn.go
  blockchain/x/qassets/client/cli/tx_mint.go
  blockchain/x/treasury/client/cli/query_keys.go
  blockchain/x/treasury/client/cli/query_sign_transaction_requests.go
  blockchain/x/treasury/client/cli/tx_new_sign_transaction_request.go
  blockchain/x/treasury/keeper/query_keys.go
  blockchain/x/treasury/types/wallet.go
  blockchain/x/treasury/types/wallet.pb.go
  web/src/proto/fusionchain/treasury/wallet_pb.ts
Labels: blockchain, treasury, qassets, web

#196 feat(blockchain): add key type to signature request and perform data validation on keyring response
  blockchain/proto/fusionchain/treasury/mpcsign.proto
  blockchain/x/treasury/keeper/msg_server.go
  blockchain/x/treasury/keeper/msg_server_fulfil_signature_request.go
  blockchain/x/treasury/keeper/msg_server_new_sign_transaction_request.go
  blockchain/x/treasury/keeper/msg_server_new_signature_request.go
  blockchain/x/treasury/keeper/msg_server_update_key_request.go
  blockchain/x/treasury/types/mpcsign.pb.go
Labels: blockchain, treasury

#194 build(web): move to pnpm instead of npm
  SETUP.md
  blockchain/buf.ts.gen.yaml
  docker/Dockerfile-fusion-stack
  docker/Dockerfile-fusion-web
  package-lock.json
  web/.npmrc
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/actions.tsx
  web/src/components/actions_badge.tsx
  web/src/components/explorer.tsx
  web/src/components/policy_preview_card.tsx
  web/src/components/ui/sheet.tsx
  web/src/routes/block_by_height.tsx
  web/src/routes/keyring.tsx
  web/src/routes/tx_by_hash.tsx
  web/src/routes/wallet.tsx
  web/src/routes/wallet_connect.tsx
  web/src/routes/workspace.tsx
Labels: blockchain, web

#195 feat(keyring): update bip44kms and mpcrelayer API to handle EdDSA key types
  keyring/pkg/api/api.go
  keyring/pkg/services/bip44kms/bip44.go
  keyring/pkg/services/bip44kms/bip44_benchmark_test.go
  keyring/pkg/services/bip44kms/bip44_test.go
  keyring/pkg/services/bip44kms/builder.go
  keyring/pkg/services/bip44kms/key_request_handler.go
  keyring/pkg/services/bip44kms/key_request_handler_test.go
  keyring/pkg/services/bip44kms/signature_request_handler.go
  keyring/pkg/services/bip44kms/signature_request_handler_test.go
  keyring/pkg/services/mpcrelayer/key_request_handler.go
  keyring/pkg/services/mpcrelayer/signature_request_handler.go
Labels: test

#193 feat: added sui address support
  blockchain/proto/fusionchain/treasury/wallet.proto
  blockchain/x/treasury/keeper/query_keys.go
  blockchain/x/treasury/types/address.go
  blockchain/x/treasury/types/key.go
  blockchain/x/treasury/types/wallet.go
  blockchain/x/treasury/types/wallet.pb.go
  blockchain/x/treasury/types/wallet_sui.go
  blockchain/x/treasury/types/wallet_sui_test.go
Labels: test, blockchain, treasury

#202 fix: keys query
  blockchain/x/treasury/client/cli/query_keys.go
  blockchain/x/treasury/keeper/query_keys.go
Labels: blockchain, treasury
