Repository qredo/fusionchain, pull requests merged in 2023-11, with the labels that each got.

#132 fix: frontend
  blockchain/proto/fusionchain/treasury/query.proto
  blockchain/x/treasury/client/cli/query_keys.go
  blockchain/x/treasury/client/cli/query_signature_requests.go
  blockchain/x/treasury/keeper/query_keys.go
  blockchain/x/treasury/types/query.pb.go
  web/src/client/treasury.ts
  web/src/components/key_requests.tsx
  web/src/components/keys.tsx
  web/src/components/sign_transactions_requests.tsx
  web/src/components/signature_requests.tsx
  web/src/main.tsx
  web/src/proto/fusionchain/identity/genesis_pb.ts
  web/src/proto/fusionchain/identity/keyring_pb.ts
  web/src/proto/fusionchain/identity/params_pb.ts
  web/src/proto/fusionchain/identity/query_pb.ts
  web/src/proto/fusionchain/identity/tx_pb.ts
  web/src/proto/fusionchain/identity/workspace_pb.ts
  web/src/proto/fusionchain/policy/action_pb.ts
  web/src/proto/fusionchain/policy/genesis_pb.ts
  web/src/proto/fusionchain/policy/params_pb.ts
  web/src/proto/fusionchain/policy/policy_pb.ts
  web/src/proto/fusionchain/policy/query_pb.ts
  web/src/proto/fusionchain/policy/tx_pb.ts
  web/src/proto/fusionchain/qassets/genesis_pb.ts
  web/src/proto/fusionchain/qassets/params_pb.ts
  web/src/proto/fusionchain/qassets/query_pb.ts
  web/src/proto/fusionchain/qassets/tx_pb.ts
  web/src/proto/fusionchain/treasury/genesis_pb.ts
  web/src/proto/fusionchain/treasury/key_pb.ts
  web/src/proto/fusionchain/treasury/mpcsign_pb.ts
  web/src/proto/fusionchain/treasury/params_pb.ts
  web/src/proto/fusionchain/treasury/query_pb.ts
  web/src/proto/fusionchain/treasury/tx_pb.ts
  web/src/proto/fusionchain/treasury/wallet_pb.ts
  web/src/proto/registry_types.ts
  web/src/routes/menu.tsx
  web/src/routes/wallet.tsx
  web/src/routes/workspace.tsx
Labels: blockchain, treasury, web

#142 fix(web): avoid expensive block_search query
  web/src/client/chain.ts
Labels: web

#140 feat(blockchain): add boolparser from qredochain
  blockchain/boolparser/README.md
  blockchain/boolparser/bool_test.go
  blockchain/boolparser/parser.go
  blockchain/boolparser/scanner.go
  blockchain/boolparser/shunting.go
  blockchain/boolparser/solver.go
  blockchain/boolparser/stack.go
  blockchain/boolparser/token.go
  blockchain/cmd/fusiond/root.go
  blockchain/proto/fusionchain/policy/policy.proto
  blockchain/x/policy/client/cli/tx_approve_action.go
  blockchain/x/policy/client/cli/tx_new_policy.go
  blockchain/x/policy/keeper/actions.go
  blockchain/x/policy/types/codec.go
  blockchain/x/policy/types/policy.go
  blockchain/x/policy/types/policy.pb.go
  blockchain/x/policy/types/policy_test.go
Labels: test, blockchain

#143 fix(web): build after new protobuf definitions
  web/src/components/key_requests.tsx
  web/src/components/policies.tsx
  web/src/components/signature_requests.tsx
  web/src/proto/fusionchain/identity/genesis_pb.ts
  web/src/proto/fusionchain/identity/keyring_pb.ts
  web/src/proto/fusionchain/identity/params_pb.ts
  web/src/proto/fusionchain/identity/query_pb.ts
  web/src/proto/fusionchain/identity/tx_pb.ts
  web/src/proto/fusionchain/identity/workspace_pb.ts
  web/src/proto/fusionchain/policy/action_pb.ts
  web/src/proto/fusionchain/policy/genesis_pb.ts
  web/src/proto/fusionchain/policy/params_pb.ts
  web/src/proto/fusionchain/policy/policy_pb.ts
  web/src/proto/fusionchain/policy/query_pb.ts
  web/src/proto/fusionchain/policy/tx_pb.ts
  web/src/proto/fusionchain/qassets/genesis_pb.ts
  web/src/proto/fusionchain/qassets/params_pb.ts
  web/src/proto/fusionchain/qassets/query_pb.ts
  web/src/proto/fusionchain/qassets/tx_pb.ts
  web/src/proto/fusionchain/treasury/genesis_pb.ts
  web/src/proto/fusionchain/treasury/key_pb.ts
  web/src/proto/fusionchain/treasury/mpcsign_pb.ts
  web/src/proto/fusionchain/treasury/params_pb.ts
  web/src/proto/fusionchain/treasury/query_pb.ts
  web/src/proto/fusionchain/treasury/tx_pb.ts
  web/src/proto/fusionchain/treasury/wallet_pb.ts
  web/src/proto/registry_types.ts
  web/src/routes/sign-data.tsx
  web/src/routes/wallet_connect.tsx
Labels: web

#145 feat(web): use BooleanPolicy instead of BlackbirdPolicy
  web/package-lock.json
  web/src/components/policies.tsx
  web/src/components/policy.tsx
  web/src/proto/registry_types.ts
Labels: web

#148 feat(web): updates to frontend
  docker-compose/docker-compose.yml
  web/index.html
  web/package-lock.json
  web/package.json
  web/public/fonts/alliance-mono-webfont.woff
  web/public/fonts/alliance-mono-webfont.woff2
  web/public/fonts/alliance-neuelight-webfont.woff
  web/public/fonts/alliance-neuelight-webfont.woff2
  web/public/fonts/alliance-plattregular-webfont.woff
  web/public/fonts/alliance-plattregular-webfont.woff2
  web/public/fonts/alliance-textregular-webfont.woff
  web/public/fonts/alliance-textregular-webfont.woff2
  web/public/logo.svg
  web/public/vite.svg
  web/src/client/common.ts
  web/src/components/account_info.tsx
  web/src/components/actions.tsx
  web/src/components/new_policy_button.tsx
  web/src/components/policies.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/sheet.tsx
  web/src/components/workspaces.tsx
  web/src/keplr.ts
  web/src/main.css
  web/src/routes/actions.tsx
  web/src/routes/explorer.tsx
  web/src/routes/home.tsx
  web/src/routes/policies.tsx
  web/src/routes/root.tsx
  web/tailwind.config.js
Labels: web
