Repository qredo/fusionchain, pull requests merged in 2023-10, with the labels that each got.

#88 feat(policy): ability to revoke an action
  blockchain/proto/fusionchain/policy/action.proto
  blockchain/proto/fusionchain/policy/tx.proto
  blockchain/x/identity/keeper/msg_server_add_workspace_owner.go
  blockchain/x/identity/keeper/msg_server_append_child_workspace.go
  blockchain/x/identity/keeper/msg_server_new_child_workspace.go
  blockchain/x/identity/keeper/msg_server_remove_workspace_owner.go
  blockchain/x/identity/keeper/msg_server_update_workspace.go
  blockchain/x/policy/client/cli/tx.go
  blockchain/x/policy/client/cli/tx_revoke_action.go
  blockchain/x/policy/keeper/actions.go
  blockchain/x/policy/keeper/msg_server_revoke_action.go
  blockchain/x/policy/module_simulation.go
  blockchain/x/policy/simulation/revoke_action.go
  blockchain/x/policy/types/action.pb.go
  blockchain/x/policy/types/codec.go
  blockchain/x/policy/types/message_revoke_action.go
  blockchain/x/policy/types/message_revoke_action_test.go
  blockchain/x/policy/types/tx.pb.go
  blockchain/x/treasury/keeper/msg_server_new_key_request.go
  blockchain/x/treasury/keeper/msg_server_new_sign_transaction_request.go
  blockchain/x/treasury/keeper/msg_server_new_signature_request.go
Labels: test, blockchain, treasury, identity

#90 feat(identity): add multiple owners when creating new workspace
  blockchain/proto/fusionchain/identity/tx.proto
  blockchain/x/identity/client/cli/tx_new_workspace.go
  blockchain/x/identity/keeper/msg_server_new_workspace.go
  blockchain/x/identity/types/message_new_workspace.go
  blockchain/x/identity/types/tx.pb.go
Labels: blockchain, identity

#91 fix(identity): refactors how owner duplications is checked
  blockchain/x/identity/keeper/msg_server_add_workspace_owner.go
  blockchain/x/identity/keeper/msg_server_new_workspace.go
  blockchain/x/identity/types/workspace.go
Labels: blockchain, identity

#93 feat(policy/action): adding timeout for an action
  blockchain/proto/fusionchain/identity/tx.proto
  blockchain/proto/fusionchain/policy/action.proto
  blockchain/proto/fusionchain/policy/tx.proto
  blockchain/proto/fusionchain/treasury/tx.proto
  blockchain/x/identity/client/cli/tx_add_workspace_owner.go
  blockchain/x/identity/client/cli/tx_append_child_workspace.go
  blockchain/x/identity/client/cli/tx_new_child_workspace.go
  blockchain/x/identity/client/cli/tx_update_workspace.go
  blockchain/x/identity/keeper/msg_server_add_workspace_owner.go
  blockchain/x/identity/keeper/msg_server_append_child_workspace.go
  blockchain/x/identity/keeper/msg_server_new_child_workspace.go
  blockchain/x/identity/keeper/msg_server_remove_workspace_owner.go
  blockchain/x/identity/keeper/msg_server_update_workspace.go
  blockchain/x/identity/types/message_add_workspace_owner.go
  blockchain/x/identity/types/message_append_child_workspace.go
  blockchain/x/identity/types/message_new_child_workspace.go
  blockchain/x/identity/types/message_update_workspace.go
  blockchain/x/identity/types/tx.pb.go
  blockchain/x/policy/keeper/actions.go
  blockchain/x/policy/keeper/msg_server_approve_action.go
  blockchain/x/policy/types/action.pb.go
  blockchain/x/policy/types/tx.pb.go
  blockchain/x/treasury/client/cli/tx_new_key_request.go
  blockchain/x/treasury/client/cli/tx_new_sign_transaction_request.go
  blockchain/x/treasury/client/cli/tx_new_signature_request.go
  blockchain/x/treasury/keeper/msg_server_new_key_request.go
  blockchain/x/treasury/keeper/msg_server_new_sign_transaction_request.go
  blockchain/x/treasury/keeper/msg_server_new_signature_request.go
  blockchain/x/treasury/types/message_new_key_request.go
  blockchain/x/treasury/types/message_new_sign_transaction_request.go
  blockchain/x/treasury/types/message_new_signature_request.go
  blockchain/x/treasury/types/tx.pb.go
Labels: blockchain, treasury, identity

#95 feat(identity): query keyring by id
  blockchain/proto/fusionchain/identity/query.proto
  blockchain/x/identity/client/cli/query.go
  blockchain/x/identity/client/cli/query_keyring_by_id.go
  blockchain/x/identity/keeper/query_keyring_by_id.go
  blockchain/x/identity/types/query.pb.go
  blockchain/x/identity/types/query.pb.gw.go
Labels: blockchain, identity

#96 feat(blockchain): improve init.sh with auto-install and alias setter (LABS-298), reset to default ports/flag for alternate ports (LABS-301)
  blockchain/init.sh
  web/src/keplr.ts
Labels: blockchain, web

#98 fix(identity): fixes proto buf mistake
  blockchain/proto/fusionchain/identity/query.proto
  blockchain/x/identity/client/cli/query_keyring_by_id.go
  blockchain/x/identity/types/query.pb.go
  blockchain/x/identity/types/query.pb.gw.go
Labels: blockchain, identity

#99 fix: update all ports to use Cosmos SDK defaults
  SETUP.md
  blockchain/cmd/faucet/faucet.go
  blockchain/x/identity/README.md
  blockchain/x/policy/README.md
  blockchain/x/qassets/README.md
  blockchain/x/treasury/README.md
  contracts/contracts.ts
  contracts/contractsold.ts
  docker-compose.yml
  docs/faucet.md
  docs/testnet.md
  mokr/README.md
  mokr/main.go
  relayer-eth/README.md
  relayer-eth/cmd/relayer/main.go
Labels: mokr, blockchain, treasury, identity, qassets, relayer-eth, contracts, docs

#97 chore(blockchain): update chainID (LABS-316)
  blockchain/app/ante/ante_test.go
  blockchain/app/utils.go
  blockchain/cmd/faucet/faucet.go
  blockchain/cmd/fusiond/cmd_test.go
  blockchain/init.sh
  blockchain/rpc/backend/backend_suite_test.go
  blockchain/rpc/backend/chain_info_test.go
  blockchain/rpc/backend/evm_query_client_test.go
  blockchain/scripts/contract-test.sh
  blockchain/scripts/ethermint-devnet.yaml
  blockchain/scripts/integration-test-all.sh
  blockchain/scripts/start.sh
  blockchain/server/flags/flags.go
  blockchain/tests/importer/importer_test.go
  blockchain/tests/integration_tests/configs/cosmovisor.jsonnet
  blockchain/tests/integration_tests/configs/default.jsonnet
  blockchain/tests/integration_tests/configs/enable-indexer.jsonnet
  blockchain/tests/integration_tests/configs/exploit.jsonnet
  blockchain/tests/integration_tests/configs/fee-history.jsonnet
  blockchain/tests/integration_tests/configs/long_timeout_commit.jsonnet
  blockchain/tests/integration_tests/configs/pruned_node.jsonnet
  blockchain/tests/integration_tests/configs/rollback-test.jsonnet
  blockchain/tests/integration_tests/network.py
  blockchain/tests/integration_tests/test_grpc_only.py
  blockchain/tests/integration_tests/test_rollback.py
  blockchain/tests/integration_tests/test_upgrade.py
  blockchain/tests/solidity/init-test-node.sh
  blockchain/testutil/constants.go
  blockchain/testutil/tx/cosmos.go
  blockchain/types/chain_id_test.go
  blockchain/x/evm/handler_test.go
  blockchain/x/evm/keeper/keeper_test.go
  blockchain/x/feemarket/keeper/keeper_test.go
  contracts/contracts.ts
  contracts/contractsold.ts
  mokr/README.md
  mokr/main.go
  web/src/keplr.ts
Labels: test, mokr, blockchain, web, contracts

#100 feat(treasury): query keys all option
  blockchain/proto/fusionchain/treasury/query.proto
  blockchain/proto/fusionchain/treasury/wallet.proto
  blockchain/x/treasury/client/cli/query_keys.go
  blockchain/x/treasury/keeper/query_keys.go
  blockchain/x/treasury/types/query.pb.go
  blockchain/x/treasury/types/wallet.pb.go
Labels: blockchain, treasury

#102 fix(blockchain): key/keyrequest CRUD issues (fixes LABS-319)
  blockchain/x/treasury/client/cli/query_keys.go
  blockchain/x/treasury/keeper/msg_server_update_key_request.go
  blockchain/x/treasury/keeper/query_keys.go
  go-client/tx_raw_client.go
  web/package-lock.json
  web/package.json
  web/src/proto/cosmwasm/wasm/v1/authz_pb.ts
  web/src/proto/cosmwasm/wasm/v1/genesis_pb.ts
  web/src/proto/cosmwasm/wasm/v1/ibc_pb.ts
  web/src/proto/cosmwasm/wasm/v1/proposal_pb.ts
  web/src/proto/cosmwasm/wasm/v1/query_pb.ts
  web/src/proto/cosmwasm/wasm/v1/tx_pb.ts
  web/src/proto/cosmwasm/wasm/v1/types_pb.ts
  web/src/proto/ethermint/crypto/v1/ethsecp256k1/keys_pb.ts
  web/src/proto/ethermint/evm/v1/events_pb.ts
  web/src/proto/ethermint/evm/v1/evm_pb.ts
  web/src/proto/ethermint/evm/v1/genesis_pb.ts
  web/src/proto/ethermint/evm/v1/query_pb.ts
  web/src/proto/ethermint/evm/v1/tx_pb.ts
  web/src/proto/ethermint/feemarket/v1/events_pb.ts
  web/src/proto/ethermint/feemarket/v1/feemarket_pb.ts
  web/src/proto/ethermint/feemarket/v1/genesis_pb.ts
  web/src/proto/ethermint/feemarket/v1/query_pb.ts
  web/src/proto/ethermint/feemarket/v1/tx_pb.ts
  web/src/proto/ethermint/types/v1/account_pb.ts
  web/src/proto/ethermint/types/v1/dynamic_fee_pb.ts
  web/src/proto/ethermint/types/v1/indexer_pb.ts
  web/src/proto/ethermint/types/v1/web3_pb.ts
  web/src/proto/fusionchain/identity/genesis_pb.ts
  web/src/proto/fusionchain/identity/keyring_pb.ts
  web/src/proto/fusionchain/identity/params_pb.ts
  web/src/proto/fusionchain/identity/query_pb.ts
  web/src/proto/fusionchain/identity/tx_pb.ts
  web/src/proto/fusionchain/identity/workspace_pb.ts
  web/src/proto/fusionchain/policy/action_pb.ts
  web/src/proto/fusionchain/policy/genesis_pb.ts
  web/src/proto/fusionchain/policy/params_pb.ts
  web/src/proto/fusionchain/policy/policy_pb.ts
  web/src/proto/fusionchain/policy/query_pb.ts
  web/src/proto/fusionchain/policy/tx_pb.ts
  web/src/proto/fusionchain/qassets/genesis_pb.ts
  web/src/proto/fusionchain/qassets/params_pb.ts
  web/src/proto/fusionchain/qassets/query_pb.ts
  web/src/proto/fusionchain/qassets/tx_pb.ts
  web/src/proto/fusionchain/treasury/genesis_pb.ts
  web/src/proto/fusionchain/treasury/key_pb.ts
  web/src/proto/fusionchain/treasury/mpcsign_pb.ts
  web/src/proto/fusionchain/treasury/params_pb.ts
  web/src/proto/fusionchain/treasury/query_pb.ts
  web/src/proto/fusionchain/treasury/tx_pb.ts
  web/src/proto/fusionchain/treasury/wallet_pb.ts
Labels: blockchain, treasury, web, go-client

#105 feat(blackbird): use latest version
  blockchain/go.mod
  blockchain/go.sum
  go-client/go.mod
  go-client/go.sum
  mokr/go.mod
  mokr/go.sum
  relayer-eth/go.mod
  relayer-eth/go.sum
Labels: mokr, blockchain, go-client, relayer-eth

#101 feat(mpc-relayer): adds mpc relayer app
  .github/workflows/lint-mpc-relayer.yml
  .github/workflows/test-mpc-relayer.yml
  mpc-relayer/.gitignore
  mpc-relayer/Makefile
  mpc-relayer/README.md
  mpc-relayer/bin/placeholder
  mpc-relayer/cmd/mpc-relayer/build_static.sh
  mpc-relayer/cmd/mpc-relayer/config.yml
  mpc-relayer/cmd/mpc-relayer/main.go
  mpc-relayer/docker-compose/config-example.yml
  mpc-relayer/docker-compose/docker-compose.yml
  mpc-relayer/docker.sh
  mpc-relayer/docker/Dockerfile
  mpc-relayer/go.mod
  mpc-relayer/go.sum
  mpc-relayer/pkg/common/commit.go
  mpc-relayer/pkg/common/config.go
  mpc-relayer/pkg/common/random.go
  mpc-relayer/pkg/common/round.go
  mpc-relayer/pkg/common/version.go
  mpc-relayer/pkg/database/badger.go
  mpc-relayer/pkg/database/database.go
  mpc-relayer/pkg/database/database_test.go
  mpc-relayer/pkg/database/memory.go
  mpc-relayer/pkg/logger/http.go
  mpc-relayer/pkg/logger/logger.go
  mpc-relayer/pkg/mpc/aggregated.go
  mpc-relayer/pkg/mpc/client.go
  mpc-relayer/pkg/mpc/client_test.go
  mpc-relayer/pkg/mpc/crypto.go
  mpc-relayer/pkg/mpc/crypto_test.go
  mpc-relayer/pkg/mpc/local.go
  mpc-relayer/pkg/mpc/server.go
  mpc-relayer/pkg/mpc/types.go
  mpc-relayer/pkg/rpc/http.go
  mpc-relayer/pkg/rpc/http_error.go
  mpc-relayer/pkg/rpc/http_json.go
  mpc-relayer/pkg/rpc/rpc.go
  mpc-relayer/pkg/rpc/rpc_test.go
  mpc-relayer/pkg/service/api.go
  mpc-relayer/pkg/service/builder.go
  mpc-relayer/pkg/service/client.go
  mpc-relayer/pkg/service/config.go
  mpc-relayer/pkg/service/key_request_handler.go
  mpc-relayer/pkg/service/key_request_handler_test.go
  mpc-relayer/pkg/service/module.go
  mpc-relayer/pkg/service/query_processor.go
  mpc-relayer/pkg/service/query_processor_test.go
  mpc-relayer/pkg/service/service.go
  mpc-relayer/pkg/service/service_test.go
  mpc-relayer/pkg/service/signature_request_handler.go
  mpc-relayer/pkg/service/signature_request_handler_test.go
  mpc-relayer/pkg/service/utils.go
Labels: test

#104 chore: wallet purge / refactor
  blockchain/proto/fusionchain/qassets/tx.proto
  blockchain/proto/fusionchain/treasury/mpcsign.proto
  blockchain/proto/fusionchain/treasury/query.proto
  blockchain/proto/fusionchain/treasury/tx.proto
  blockchain/proto/fusionchain/treasury/wallet.proto
  blockchain/x/qassets/client/cli/tx_burn.go
  blockchain/x/qassets/client/cli/tx_mint.go
  blockchain/x/qassets/keeper/keeper.go
  blockchain/x/qassets/keeper/msg_server_burn.go
  blockchain/x/qassets/keeper/msg_server_mint.go
  blockchain/x/qassets/types/message_burn.go
  blockchain/x/qassets/types/message_mint.go
  blockchain/x/qassets/types/tx.pb.go
  blockchain/x/treasury/client/cli/query.go
  blockchain/x/treasury/client/cli/query_keys.go
  blockchain/x/treasury/client/cli/query_wallet_by_id.go
  blockchain/x/treasury/client/cli/query_wallets.go
  blockchain/x/treasury/client/cli/tx.go
  blockchain/x/treasury/client/cli/tx_new_sign_transaction_request.go
  blockchain/x/treasury/client/cli/tx_new_wallet_request.go
  blockchain/x/treasury/keeper/keeper.go
  blockchain/x/treasury/keeper/msg_server_new_sign_transaction_request.go
  blockchain/x/treasury/keeper/msg_server_new_wallet_request.go
  blockchain/x/treasury/keeper/query_keys.go
  blockchain/x/treasury/keeper/query_sign_transaction_requests.go
  blockchain/x/treasury/keeper/query_wallet_by_id.go
  blockchain/x/treasury/keeper/query_wallets.go
  blockchain/x/treasury/keeper/wallets.go
  blockchain/x/treasury/module_simulation.go
  blockchain/x/treasury/simulation/new_wallet_request.go
  blockchain/x/treasury/types/codec.go
  blockchain/x/treasury/types/message_new_sign_transaction_request.go
  blockchain/x/treasury/types/message_new_wallet_request.go
  blockchain/x/treasury/types/message_new_wallet_request_test.go
  blockchain/x/treasury/types/mpcsign.pb.go
  blockchain/x/treasury/types/query.pb.go
  blockchain/x/treasury/types/query.pb.gw.go
  blockchain/x/treasury/types/tx.pb.go
  blockchain/x/treasury/types/wallet.go
  blockchain/x/treasury/types/wallet.pb.go
  blockchain/x/treasury/types/wallet_ethereum.go
  blockchain/x/treasury/types/wallet_ethereum_test.go
  blockchain/x/treasury/types/wallet_fusion.go
  blockchain/x/treasury/types/wallet_fusion_test.go
  blockchain/x/treasury/types/wallet_test.go
  blockchain/x/wasm/keeper/handler_plugin.go
Labels: test, blockchain, treasury, qassets

#118 feat: new keyring activation status
  blockchain/proto/fusionchain/identity/keyring.proto
  blockchain/proto/fusionchain/identity/tx.proto
  blockchain/x/identity/client/cli/tx.go
  blockchain/x/identity/client/cli/tx_update_keyring.go
  blockchain/x/identity/keeper/msg_server_add_keyring_party.go
  blockchain/x/identity/keeper/msg_server_new_keyring.go
  blockchain/x/identity/keeper/msg_server_update_keyring.go
  blockchain/x/identity/keeper/query_keyrings.go
  blockchain/x/identity/types/keyring.go
  blockchain/x/identity/types/keyring.pb.go
  blockchain/x/identity/types/message_update_keyring.go
  blockchain/x/identity/types/tx.pb.go
  blockchain/x/qassets/keeper/keeper.go
  blockchain/x/treasury/keeper/msg_server_new_key_request.go
  blockchain/x/treasury/keeper/msg_server_new_sign_transaction_request.go
  blockchain/x/treasury/keeper/msg_server_new_signature_request.go
  blockchain/x/treasury/keeper/msg_server_update_key_request.go
Labels: blockchain, treasury, identity, qassets

#89 feat(web): WalletConnect
  web/package-lock.json
  web/package.json
  web/src/client/common.ts
  web/src/client/treasury.ts
  web/src/components/card_row.tsx
  web/src/components/keys.tsx
  web/src/hooks/keplr.tsx
  web/src/main.tsx
  web/src/proto/fusionchain/qassets/tx_pb.ts
  web/src/proto/fusionchain/treasury/mpcsign_pb.ts
  web/src/proto/fusionchain/treasury/query_pb.ts
  web/src/proto/fusionchain/treasury/tx_pb.ts
  web/src/proto/fusionchain/treasury/wallet_pb.ts
  web/src/routes/menu.tsx
  web/src/routes/wallet_connect.tsx
Labels: web

#120 docs: updated docs
  GUIDE.md
  README.md
  blockchain/x/policy/README.md
Labels: blockchain

#121 fix(blockchain): genesis keyring issue
  blockchain/init.sh
Labels: blockchain

#123 chore(mpc-relayer): Add code comments. Small rpc and mpc package updates. Healthcheck API update.
  mpc-relayer/pkg/logger/http.go
  mpc-relayer/pkg/mpc/client.go
  mpc-relayer/pkg/mpc/crypto_test.go
  mpc-relayer/pkg/mpc/types.go
  mpc-relayer/pkg/service/api.go
  mpc-relayer/pkg/service/client.go
  mpc-relayer/pkg/service/config.go
  mpc-relayer/pkg/service/key_request_handler.go
  mpc-relayer/pkg/service/module.go
  mpc-relayer/pkg/service/query_processor.go
  mpc-relayer/pkg/service/service_test.go
  mpc-relayer/pkg/service/signature_request_handler.go
Labels: test

#127 chore(mpc-relayer): use thread channel to handle graceful shutdown.
  mpc-relayer/Makefile
  mpc-relayer/pkg/service/key_request_handler.go
  mpc-relayer/pkg/service/key_request_handler_test.go
  mpc-relayer/pkg/service/query_processor.go
  mpc-relayer/pkg/service/signature_request_handler.go
  mpc-relayer/pkg/service/utils.go
Labels: test

#126 fix: keyring genesis
  blockchain/init.sh
Labels: blockchain

#128 fix: updated keyringAddr in mokr
  blockchain/x/treasury/keeper/msg_server_update_key_request.go
  blockchain/x/treasury/types/message_update_key_request_test.go
  go-client/query_client_treasury.go
  mokr/engine.go
  mokr/main.go
Labels: test, mokr, blockchain, treasury, go-client

#129 fix: Mpc relayer adjustment
  blockchain/x/treasury/types/message_new_key_request_test.go
  mokr/README.md
  mpc-relayer/README.md
  mpc-relayer/cmd/mpc-relayer/config.yml
  mpc-relayer/pkg/service/builder.go
  mpc-relayer/pkg/service/client.go
  mpc-relayer/pkg/service/config.go
  mpc-relayer/pkg/service/key_request_handler.go
  mpc-relayer/pkg/service/key_request_handler_test.go
  mpc-relayer/pkg/service/query_processor.go
  mpc-relayer/pkg/service/query_processor_test.go
  mpc-relayer/pkg/service/service.go
  mpc-relayer/pkg/service/service_test.go
  mpc-relayer/pkg/service/signature_request_handler.go
Labels: test, mokr, blockchain, treasury

#130 feat: identity unit tests
  blockchain/x/identity/keeper/msg_server_add_keyring_party_test.go
  blockchain/x/identity/keeper/msg_server_add_workspace_owner_test.go
  blockchain/x/identity/keeper/msg_server_new_keyring_test.go
  blockchain/x/identity/keeper/msg_server_new_workspace_test.go
  blockchain/x/identity/keeper/msg_server_test.go
  blockchain/x/identity/keeper/query_keyring_by_id_test.go
  blockchain/x/identity/keeper/query_workspace_by_address_test.go
  blockchain/x/identity/keeper/query_workspaces_by_owner_test.go
  blockchain/x/identity/keeper/query_workspaces_test.go
  blockchain/x/identity/types/keyring_test.go
Labels: test, blockchain, identity

#131 fix: go mod(s)
  .gitignore
  go-client/go.mod
  go-client/go.sum
  mpc-relayer/go.mod
  mpc-relayer/go.sum
  relayer-eth/go.mod
  relayer-eth/go.sum
Labels: go-client, relayer-eth

#133 fix: proto generation missing files
  blockchain/proto/buf.gen.gogo.yaml
  blockchain/proto/buf.gen.swagger.yaml
  blockchain/proto/buf.lock
  blockchain/proto/buf.yaml
Labels: blockchain
