Repository qredo/fusionchain, pull requests merged in 2024-01, with the labels that each got.

#205 feat: add WalletConnect methods for Uniswap
  blockchain/proto/fusionchain/treasury/tx.proto
  blockchain/x/treasury/keeper/msg_server_new_sign_transaction_request.go
  blockchain/x/treasury/types/tx.pb.go
  blockchain/x/treasury/types/wallet_ethereum.go
  blockchain/x/treasury/types/wallet_ethereum_test.go
  relayer-eth/cmd/relayer/main.go
  relayer-eth/go.mod
  relayer-eth/go.sum
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/keys.tsx
  web/src/components/sign_transactions_requests.tsx
  web/src/proto/fusionchain/treasury/tx_pb.ts
  web/src/proto/fusionchain/treasury/wallet_pb.ts
  web/src/routes/wallet.tsx
  web/src/routes/wallet_connect.tsx
Labels: test, blockchain, treasury, web, relayer-eth

#208 chore(go-client): go mod tidy
  go-client/go.mod
  go-client/go.sum
Labels: go-client

#209 fix(docker): fix fusion-web docker build error
  docker/Dockerfile-fusion-stack
  web/tsconfig.json
Labels: web

#210 chore(web): regen protobuf defs
  web/src/proto/fusionchain/treasury/mpcsign_pb.ts
  web/src/proto/fusionchain/treasury/wallet_pb.ts
Labels: web

#212 feat(blockchain): Add MetaData field to MsgNewSignTransactionRequest.
  blockchain/proto/fusionchain/treasury/tx.proto
  blockchain/x/treasury/client/cli/tx_new_sign_transaction_request.go
  blockchain/x/treasury/keeper/msg_server_new_sign_transaction_request.go
  blockchain/x/treasury/types/message_new_sign_transaction_request.go
  blockchain/x/treasury/types/tx.pb.go
  blockchain/x/treasury/types/wallet.go
  blockchain/x/treasury/types/wallet_ethereum.go
  blockchain/x/treasury/types/wallet_ethereum_test.go
Labels: test, blockchain, treasury

#213 fix(web): view overflowing when user had multiple workspaces
  web/src/components/workspaces.tsx
Labels: web

#219 feat: add blockchain bootstrap script
  .gitignore
  blockchain/scripts/bootstrap/main.sh
Labels: blockchain

#222 fix(blockchain): fusiond info cmd
  blockchain/Makefile
  blockchain/cmd/fusiond/root.go
  blockchain/version/version.go
  docker/Dockerfile-fusiond
  docker/docker-build-fusiond.sh
Labels: blockchain

#226 feat(web): allow environment variables at runtime
  docker/Dockerfile-fusion-web
  docker/docker-build-fusion-web.sh
  docker/web/entrypoint.sh
  docker/web/nginx.conf
  web/package.json
Labels: web

#227 build(web): allow to configure chain id and name via env vars
  docker/Dockerfile-fusion-stack
  docker/Dockerfile-web
  docker/web/entrypoint.sh
  web/src/keplr.ts
Labels: web

#229 feat(web): add Metadata field to SignTransactionRequest
  blockchain/proto/fusionchain/treasury/tx.proto
  blockchain/x/treasury/client/cli/tx_new_sign_transaction_request.go
  blockchain/x/treasury/keeper/msg_server_new_sign_transaction_request.go
  blockchain/x/treasury/types/codec.go
  blockchain/x/treasury/types/message_new_sign_transaction_request.go
  blockchain/x/treasury/types/tx.pb.go
  blockchain/x/treasury/types/wallet.go
  blockchain/x/treasury/types/wallet_ethereum.go
  web/src/hooks/useRequestTransactionSignature.tsx
  web/src/proto/fusionchain/treasury/tx_pb.ts
  web/src/routes/ethereum.tsx
  web/src/routes/wallet_connect.tsx
  web/src/utils/any.ts
Labels: blockchain, treasury, web

#233 fix: testutils dependencies
  blockchain/testutil/keeper/identity.go
  blockchain/testutil/keeper/keeper.go
  blockchain/testutil/keeper/policy.go
  blockchain/testutil/keeper/qassets.go
  blockchain/testutil/keeper/treasury.go
  blockchain/x/identity/genesis_test.go
  blockchain/x/identity/keeper/msg_server_add_keyring_party_test.go
  blockchain/x/identity/keeper/msg_server_add_workspace_owner_test.go
  blockchain/x/identity/keeper/msg_server_new_keyring_test.go
  blockchain/x/identity/keeper/msg_server_new_workspace_test.go
  blockchain/x/identity/keeper/msg_server_test.go
  blockchain/x/identity/keeper/msg_server_update_keyring_test.go
  blockchain/x/identity/keeper/params_test.go
  blockchain/x/identity/keeper/query_keyring_by_address_test.go
  blockchain/x/identity/keeper/query_keyrings_test.go
  blockchain/x/identity/keeper/query_params_test.go
  blockchain/x/identity/keeper/query_workspace_by_address_test.go
  blockchain/x/identity/keeper/query_workspaces_by_owner_test.go
  blockchain/x/identity/keeper/query_workspaces_test.go
  blockchain/x/policy/genesis_test.go
  blockchain/x/policy/keeper/actions.go
  blockchain/x/policy/keeper/msg_server_test.go
  blockchain/x/policy/keeper/params_test.go
  blockchain/x/policy/keeper/query_params_test.go
  blockchain/x/qassets/genesis_test.go
  blockchain/x/qassets/keeper/grpc_query_params_test.go
  blockchain/x/qassets/keeper/msg_server_test.go
  blockchain/x/qassets/keeper/params_test.go
  blockchain/x/treasury/genesis_test.go
  blockchain/x/treasury/keeper/msg_server_new_key_request.go
  blockchain/x/treasury/keeper/msg_server_new_key_request_test.go
  blockchain/x/treasury/keeper/msg_server_new_signature_request.go
  blockchain/x/treasury/keeper/msg_server_test.go
  blockchain/x/treasury/keeper/params_test.go
  blockchain/x/treasury/keeper/query_params_test.go
Labels: test, blockchain, treasury, identity, qassets

#234 feat(blockchain): Valuepolicy
  blockchain/policy/policy.go
  blockchain/policy/policy_test.go
  blockchain/policy/types.go
  blockchain/proto/fusionchain/policy/action.proto
  blockchain/x/identity/keeper/msg_server_add_workspace_owner.go
  blockchain/x/identity/keeper/msg_server_append_child_workspace.go
  blockchain/x/identity/keeper/msg_server_new_child_workspace.go
  blockchain/x/identity/keeper/msg_server_remove_workspace_owner.go
  blockchain/x/identity/keeper/msg_server_update_workspace.go
  blockchain/x/policy/keeper/actions.go
  blockchain/x/policy/types/action.go
  blockchain/x/policy/types/action.pb.go
  blockchain/x/policy/types/policy.go
  blockchain/x/policy/types/policy_test.go
  blockchain/x/treasury/keeper/msg_server_new_key_request.go
  blockchain/x/treasury/keeper/msg_server_new_sign_transaction_request.go
  blockchain/x/treasury/keeper/msg_server_new_signature_request.go
  go.mod
Labels: test, blockchain, treasury, identity

#235 fix(blockchain): mapToDeterministicSlice
  blockchain/x/policy/keeper/actions.go
Labels: blockchain

#236 chore(blockchain): remove println
  blockchain/x/policy/types/policy.go
Labels: blockchain
